body{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    align-items: stretch;
    font-family: "Tahoma", sans-serif;
}

.one {
    background-color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.section{
    flex: none;
    flex-basis: 400px;
    max-height: 406px;
}

.section.five {
flex-basis: 50px;
background-color:#1F2937;
}

/* stylizing section one */
/* stylizing section one header*/
.header{
    display: flex;
    margin: 10px 150px;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    min-width: 150px;
    font-weight: bold;
}

.links{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    color:#E5E7EB;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* stylizing section one content*/
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 70px 150px;
    gap: 100px;
    min-width: 384px;
}

.text{
    flex: 0 1 500px;
    max-height: 270px;
    min-width: 271px;
}

.text-header{
    margin:0;
    font-weight:bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.bear-info{
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px 0;
}

.image{
    width: 300px;
    height: auto;
    flex: 0;
}

.content .sign-up-button{
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 4px 15px;
    border-style: none;
    border-radius: 5px;
    margin: 10px 0;
}