body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    align-items: stretch;
    font-family: "Tahoma", sans-serif;
}

.section.one {
    background-color: #1F2937;
}

.section.three {
    background-color: #E5E7EB;
}

.section {
    flex: 0 0 400px;
    max-height: 400px;
    min-width: 700px;
}



/* stylizing section one */
/* stylizing section one header*/
.section.one{
    display: flex;
    flex-direction: column;
}

.one .header {
    display: flex;
    margin: 10px 150px;
    justify-content: space-between;
    flex: none;
}

.one .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    min-width: 150px;
    font-weight: bold;
}

.one .links {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    color: #E5E7EB;
}

.one ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.one a {
    text-decoration: none;
    color: inherit;
}

/* stylizing section one content*/
.one .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    gap: 100px;
    min-width: 384px;
}

.one .text {
    flex: 0 1 500px;
    max-height: 270px;
    min-width: 271px;
}

.one .text-header {
    margin: 0;
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.one .bear-info {
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px 0;
}

.one .image {
    width: 300px;
    height: auto;
    flex: 0;
}

.one .content .sign-up-button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 4px 15px;
    border-style: none;
    border-radius: 5px;
    margin: 10px 0;
}

/*section two!*/
.two .text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.two .image-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.two .image {
    flex: 0 0 150px;
    color: #1F2937;
    font-size: 16px;
    text-align: center;
}

.two img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #3882f6;
}

/* section 3!*/

.section.three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three .content {
    display: flex;
    flex-direction: column;
    flex: 0 0 600px;
}

.three .name {
    align-self: flex-end;
    font-weight: bold;
    margin: 0 18px 0 0;
}

.three .words {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin:0;
}

/* section 4*/
.section.four{
    display:flex;
    flex-direction:column;
}

.four .content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.four .footer {
    flex: 0 0 50px;
    background-color: #1F2937;
}

.four .card{
    background-color: #3882f6;
    padding: 50px 100px;
    border-radius: 8px;
}

.four .words{
    display:flex;
    align-items: center;
    gap: 70px;
}

.four .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 12px;
}

.four .info.header{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.four .info.text{
    font-size:15px;
    font-weight: normal;
    margin: 0;
}

.four button{
    background-color: #3882f6;
    color:#F9FAF8;
    border-color: #F9FAF8;
    padding: 4px 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
}